body{
 background: #ffffff;
 font-family: sans-serif;
}

.kalkulator{
 width: 335px;
 background: #7a5122;
 margin: 100px auto;
 padding: 10px 20px 50px 20px;
 border-radius: 5px;
 box-shadow: 0px 10px 20px 0px #868282;
}

.bil{
 width: 300px;
 margin: 5px;
 border: none;
 font-size: 16pt;
 border-radius: 5px;
 padding: 10px; 
}

.opt{
 font-size: 16pt;
 border: none;
 width: 215px;
 margin: 5px;
 border-radius: 5px;
 padding: 10px;
}

.tombol{
 background: #cf2f37;
 border-top: none;
 border-right: none;
 border-left: none;
 border-radius: 5px;
 padding: 10px 20px;
 color: #eee;

 font-size: 15pt;
 border-bottom:4px solid #BF3D3D;
}

.brand{
 color: #eee;
 font-size: 11pt;
 float: right;
 text-decoration: none;
 margin: 12px;
}

.judul{
 text-align: center;
 color: #eee;
 font-weight: normal;
}

.copyright{
 text-align: center;
 padding-top:5px;
 padding-bottom:5px;
 font:normal 80% Verdana,Trebuchet,Arial,Sans-serif;
}